.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.morse-input textarea {
  background-color: rgb(183, 255, 255);
  width: 80%;
  height: 5rem;
  padding: 0.5rem;
  font-size: 1.25rem;
}

.translated-code {
  font-size: 3rem;
  background-color: pink;
  width: 80%;
  padding: 0.5rem;
  margin: auto;
}

.btnCopy {
  width: 10rem;
  height: 4rem;
  font-size: 2rem;
  margin: 1rem;
}
