.App {
  text-align: center;
  background-color: gold;
}

.morse-input textarea {
  background-color: rgb(183, 255, 255);
  width: 80%;
  height: 6em;
  padding: 0.5rem;
  font-size: 2rem;
}

.translated-code {
  font-size: 3rem;
  background-color: pink;
  width: 80%;
  padding: 0.5rem;
  margin: auto;
}

.btnCopy {
  width: 10rem;
  height: 4rem;
  font-size: 2rem;
  margin: 1rem;
}
